body{
    font-family: 'PT Sans', sans-serif;
    margin: 0;
    color: #fff;
    line-height: 1.6;
}


nav{
        color: aliceblue; 
        word-spacing: 30px;
        font-family: sans-serif;
        width: 100%;
        height: 40px;
        text-align: left;
        top: 80px;
        border-top: 0px;
        display: inline-block;
        bottom: 400px;
        background-color:  #252529;
        position: fixed;
        top: 0px;
        word-spacing: 20px;
        
    }
#s1:hover{
    background-color: #7a7a7e;
    color: #070707;
    width: 100%;
    height: 100%;
    padding: 10px;
}
#s2:hover{
    background-color: #7a7a7e;
    color: #070707;
    width: 100%;
    height: 100%;
    padding: 10px;
}
#s3:hover{
    background-color: #7a7a7e;
    color: #070707;
    width: 100%;
    height: 100%;
    padding: 10px;
}
#s4:hover{
    background-color: #7a7a7e;
    color: aliceblue;
    width: 100%;
    height: 100%;
    padding: 10px;
}
#s5:hover{
    background-color: #7a7a7e;
    color: #070707;
    width: 100%;
    height: 100%;
    padding: 10px;
}

#mytune{
    border: 1px solid black;
    height: 700px;
    background-image: url(https://jolly-kalam-23776e.netlify.app/mytunes/img/showcase.jpeg);
    color: azure;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}
#h1{
    font-family: sans-serif;
    padding-left: 140px;
    padding-right: 140px;
    padding-top: 140px;
    font-size: 50px;
    text-align: center;
    bottom: 400px;
}
#p1{
    font-family: sans-serif;
    font-size: 40px;
    text-align: center;
    word-spacing: 0px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
#p2{
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
    word-spacing: 0px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
#p3{
    font-family: sans-serif;
    font-size: 20px;
    word-spacing: 0px;
    text-align: center;
    word-spacing: 3px;
    top: 500px;
}
#music{
    width: 100%;
    height: 300px;
    background-color: rgb(32, 29, 29);
    color: azure;
    font-size: large;
    display: inline-table;
    text-align: center;

}
#tv{
    text-align: center;
    color: #252529;
    font-size: 25px;
}
#tvp{
    font-size: 20px;
    padding-left: 40px;
    padding-bottom: 40px;
    padding-right: 40px;
}
#readmore{
    text-align: center;
    padding: 20px;
    background-color: blue;
    color: aliceblue;
    text-decoration: none;
    
}
#mockup1{
     width: 100%;
    text-align: center;
    left: 50px;
}
#mockup2{
   width: 100%;
    text-align: center;
    left: 50px;
}
#blue{
    background: url(https://jolly-kalam-23776e.netlify.app/mytunes/img/section-bg.jpeg) no-repeat bottom/cover;
    width: 100%;
    text-align: center;
    height: 600px;
    color: aliceblue;
    line-height: 50px;
    padding-top: 180px;
    background-size: 100% 100%; 
    height: 450px;
   
   
}
#hp{
    font-size: 25px;

}


button{
    background:rgb(145, 26, 26);
    height: 60px;
    width: 240px;
     color: azure;
}

#blue{
    background-repeat: no-repeat;
    width: 100%;
    text-align: center;
    
}
#giftcard{
    
    background-repeat: no-repeat;
    display: inline-block;
    display: flex;
    /* padding-right: 50px; */
    text-align: left;
    text-indent: 100px;
    /* height: 400px;
    width: 500px;*/
} 
#gft{
    display: inline-block;
    font-family: 'PT Sans', sans-serif;
    color: #252529;
}
#sp1{
     font-size: 20px;
     display: inline-block;
     text-align: left;
     text-indent: 0px;
}
#sp2{
    font-size: 20px;
    display: inline-block;
    top: 3px;
    text-indent: 0px;
}
#ul{
    display: flex;
    font-size: 1rem;
    background-color: rgb(10, 10, 10);
    border-bottom: #444 solid 1px;
    margin-bottom: 1rem;
     color: #7a7a7e;
     padding: 10px;
     height: 190px;
}
#li1{
    flex-grow: 1;
    color: rgb(185, 183, 179);
}
#li2{
    flex-grow: 1;
    color: rgb(185, 183, 179);
}
#li3{
    flex-grow: 1;
    color: rgb(185, 183, 179);

}
#li4{
    flex-grow: 1;
    color: rgb(185, 183, 179);
    bottom: 0px;

}
#t1{
    font-size: 1.2rem;
}
#t2{
    font-size: 1.2rem;
}
#t3{
    font-size: 1.2rem;
}
#t4{
    font-size: 1.2rem;
}
#footer{
    background-color: #444 ;
    padding: 1rem; 
    text-align: center;
    top: 0px;
    bottom: 0px;
}
a:link{
    color: rgb(221, 211, 211);
    text-decoration: none;
}
a:visited{
    color:  rgb(221, 211, 211);
    text-decoration: none;
}
a:active{
    color:  rgb(221, 211, 211);
    text-decoration: none;
}


#link:link{
    color: #070707;
    text-decoration: none;
}
#link:visited{
    color:  #070707;
}
#link:active{
    color:  #070707;
} 
#link1{
    text-indent: 0px;
}
